## Normalizando os dados do CBO


Objetivo é filtrar apenas as ocupações reais (sem sinônimos) e adicionar a ocupação "estudante"

In [1]:
cbo <- read.csv2("lista cbo 2002.csv", header=TRUE, sep=",")

In [2]:
str(cbo)

'data.frame':	10345 obs. of  3 variables:
 $ codigo: Factor w/ 3150 levels "0101","0101-05",..: 1801 952 952 1852 3019 3024 2719 2719 1989 2997 ...
 $ termo : Factor w/ 10342 levels "Abacaxicultor",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ tipo  : Factor w/ 4 levels "","Família","Ocupação",..: 4 4 4 4 4 4 4 4 4 3 ...

In [3]:
summary(cbo)

     codigo                           termo             tipo
 2631-05: 145   Capoteiro                :    2           : 125
 1414-10: 110   Médico anatomopatologista:    2   Família : 539
 6220-20:  62   Tapeceiro de veículos    :    2   Ocupação:2445
 6325-05:  41   Abacaxicultor            :    1   Sinônimo:7236
 1412-05:  36   Abade                    :    1
 7661-45:  35   Abadessa                 :    1
 (Other):9916   (Other)                  :10336

In [4]:
head(cbo)

  codigo  termo                                  tipo
1 6125-10 Abacaxicultor                          Sinônimo
2 2631-05 Abade                                  Sinônimo
3 2631-05 Abadessa                               Sinônimo
4 6220-20 Abanador na agricultura                Sinônimo
5 8621-20 Abastecedor de caldeira                Sinônimo
6 8621-60 Abastecedor de combustível de aeronave Sinônimo

In [5]:
ocupacao <- subset(cbo, tipo == "Ocupação")
ocupacao <- droplevels(ocupacao)

In [6]:
str(ocupacao)

'data.frame':	2445 obs. of  3 variables:
 $ codigo: Factor w/ 2445 levels "0101-05","0101-10",..: 2348 1990 1642 2349 1098 657 216 1229 665 217 ...
 $ termo : Factor w/ 2445 levels "Abatedor","Acabador de embalagens (flexíveis e cartotécnicas)",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ tipo  : Factor w/ 1 level "Ocupação": 1 1 1 1 1 1 1 1 1 1 ...

In [7]:
summary(ocupacao)

     codigo                                                    termo
 0101-05:   1   Abatedor                                          :   1
 0101-10:   1   Acabador de embalagens (flexíveis e cartotécnicas):   1
 0101-15:   1   Acabador de superfícies de concreto               :   1
 0102-05:   1   Açougueiro                                        :   1
 0102-10:   1   Acrobata                                          :   1
 0102-15:   1   Administrador                                     :   1
 (Other):2439   (Other)                                           :2439
       tipo
 Ocupação:2445

In [8]:
codigo <- gsub("-", "", ocupacao$codigo)

In [9]:
str(codigo)

 chr [1:2445] "848505" "766305" "716105" "848510" "376205" "252105" ...

In [10]:
ocupacao$codigo <- codigo

In [11]:
str(ocupacao)

'data.frame':	2445 obs. of  3 variables:
 $ codigo: chr  "848505" "766305" "716105" "848510" ...
 $ termo : Factor w/ 2445 levels "Abatedor","Acabador de embalagens (flexíveis e cartotécnicas)",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ tipo  : Factor w/ 1 level "Ocupação": 1 1 1 1 1 1 1 1 1 1 ...

In [12]:
# Criando um data frame para estudantes

codigo <- c("XXXXAA", "XXXXBB","XXXXYY", "XXXXWW", "XXXXZZ")
termo <- c("Estudante de Ensino Fundamental", 
            "Estudante de Ensino Médio", 
            "Estudante de Ensino Técnico", 
            "Estudante de Ensino Superior", 
            "Estudante de Pós Graduação")

estudantes <- data.frame(codigo, termo)

In [13]:
str(estudantes)

'data.frame':	5 obs. of  2 variables:
 $ codigo: Factor w/ 5 levels "XXXXAA","XXXXBB",..: 1 2 4 3 5
 $ termo : Factor w/ 5 levels "Estudante de Ensino Fundamental",..: 1 2 4 3 5

In [14]:
ocupacoes <- subset(ocupacao, select = c("codigo", "termo"))

In [15]:
str(ocupacoes)

'data.frame':	2445 obs. of  2 variables:
 $ codigo: chr  "848505" "766305" "716105" "848510" ...
 $ termo : Factor w/ 2445 levels "Abatedor","Acabador de embalagens (flexíveis e cartotécnicas)",..: 1 2 3 4 5 6 7 8 9 10 ...

In [16]:
resultado <- rbind(ocupacoes, estudantes)

In [17]:
write.csv2(resultado,"ocupacoes_inovasus.csv", row.names=FALSE)